body {
  background-color: #07DBDB;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

header {
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: url(images/background_head.png) repeat-x;
    display: block;
}

.header-inner {
    height: 90px;
    width: 980px;
    position: relative;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.logo {
    width: 200px;
    height: 65px;
    left: 0px;
    top: 0px;
    position: absolute;
}

a img {
    border: none;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

.name_company {
    width: 212px;
    height: 45px;
    left: 359px;
    top: 10px;
    position: absolute;
    font-family: fantasy;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
}

.worklet {
    margin: 0;
    text-align: center;

}

.worklet-content {
    clear: both;

}

.MenuCat {
    width: 980px;
    height: 24px;
    left: 0px;
    bottom: 1px;
    position: absolute;
}

.MenuCat a {
  margin: 0;
  margin-right: 15px;
  height: 24px;
  width: 100%;
  z-index: 1;
  top: 0px;
  font-family: 'futura_ltcn_btlight';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  padding: 0;
  list-style: none;
}

.columnas {
    background-image: url(images/fondo.png) !important;
    background-repeat: repeat-y !important;
}

.categoria {
    width: 16%;
    float: left;
}

.contenido_categoria{
  padding: 8px;
}

.informacion {
    width: 84%;
    float: left;
}

.nav_categorias a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: #869399;
  border: 1px solid black;
}

.nav_categorias a:hover {
  background-color: #c6ffea;
}

.MenuCat a:hover {
  background-color: #E8930C;
}

.titulo_cat {
  padding: 5px;
  border: 1px solid black;
}
