<h1>Editing Product</h1>

<%= render 'form', url: admin_product_path(@product) %>
<div class="link_edit">
  <%= link_to 'Ver producto', admin_product_path(@product) %> |
  <%= link_to 'Atrás', admin_products_path %>
</div>
