<header>
    <nav class="MenuCat">
        <%= link_to 'Inicio', root_path %>
        <a href="computadores.html">Computadores</a>
        <a href="producto.html">Desodorantes</a>
        <a href="producto.html">Comida</a>
    </nav>
