<div class="titulo_cat">
    <h1>Catálogo de computadores</h1>
</div>

<%= render 'layouts/page_cycling' %>

<div class="columnas">
    <%= render partial: 'products' %>
</div>
<!-- <%= content_tag :div, class: 'columnas', data: {item_count_max: @item_count_max}%> -->
