<div id="bgwindow">
    <div id="window">
        <p class="cerrar">Cerrar</p>
        <h1>NIDASTORE</h1>
        <h2>LA MEJOR TIENDA</h2>
    </div>
</div>

<div class="columnas">
    <%= render partial: 'products', locals: { products: @products, family: @family, pages: @pages } %>
</div>
