<div class="titulo_cat">
    <h1>Promociones</h1>
</div>
<div class="columnas">
  <% Product.where(promotion: true).each do |product| %>
  <div class="celda_p">
      <div class="nombre"><%= product.name %></div>
      <div class="precio"> $<%= product.price %></div>
      <div class="descripcion"><%= product.description %></div>
  </div>
  <% end %>

</div>
