<h1>Promociones</h1>
<div id="bgwindow">
    <div id="window">
        <p class="cerrar">Cerrar</p>
        <h1>NIDASTORE</h1>
        <h2>LA MEJOR TIENDA</h2>
    </div>
</div>

<!--<div class="titulo_cat">
    <h1>Catálogo de desodorantes</h1>
</div>-->

<%= render 'page_cycling' %>

<div class="columnas">
    <%= render partial: 'products', locals: { products: @products } %>
</div>
