<!DOCTYPE html>
<html>
    <head>
        <title>Nidastore</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= stylesheet_link_tag 'store', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      <div id="bgwindow">
        <div id="window">
          <p class="cerrar">Cerrar</p>
          <h1>NIDASTORE</h1>
          <h2>LA MEJOR TIENDA</h2>
        </div>
      </div>
      <div id="bgwindow_image">
        <div id="window">
          <p class="cerrar">Cerrar</p>
          Aca ira la imagen
          <img src="" alt="" />
        </div>
      </div>
      <div id="bgwindow_detalles">
        <div id="window">
          <p class="cerrar">Cerrar</p>
          Acá van las distintas opciones de los productos
        </div>
      </div>
